<style>
  .my-part {
    background-color: red;
    height: 70vh;
  }
</style>
<div class="contact-container">
  <div class="contact__consultation"></div>
  <form class="contact__form">
    <div class="full-name">
      <div class="first-name">
        <label for="name">First name</label>
        <input type="text" id="name" required placeholder="First name" />
      </div>
    </div>
  </form>
</div>
