<style>
  .my-part {
    background-color: red;
    height: 70vh;
  }
</style>
<div class="contact-container">
  <div class="contact__consultation"></div>
  <form class="contact__form">
    <div class="full-name">
      <div class="first-name">
        <input type="text" required />
      </div>
    </div>
  </form>
</div>
