<style>
  .contact-container {
    padding: 15rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
    justify-items: start;
    align-items: flex-start;
  }
  .contact__consultation {
    background-color: red;
  }
  .contact__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .full-name {
    display: flex;
    gap: 2rem;
  }
  .first-name,
  .last-name,
  .email,
  .gym-name {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
  }
  .first-name input,
  .last-name input,
  .email input,
  .gym-name input {
  }
  .first-name label,
  .last-name label,
  .email label,
  .gym-name label {
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }
</style>
<div class="contact-container">
  <div class="contact__consultation"></div>
  <form class="contact__form">
    <div class="full-name">
      <div class="first-name">
        <label for="name">First name</label>
        <input type="text" id="name" required placeholder="First name" />
      </div>
      <div class="last-name">
        <label for="last-name">First name</label>
        <input type="text" id="last-name" required placeholder="Last name" />
      </div>
    </div>
    <div class="email">
      <input type="email" required placeholder="example@gmail.com" id="email" />
      <label for="email">Email</label>
    </div>
    <div class="swatch">
      <div class="swatch__content">I'm interested in</div>
      <div class="swatch__box">
        <div class="option option_1">
          <input type="radio" name="swatch__options" id="option-1" />
          <label for="option-1">Outfitting a new gym</label>
        </div>
        <div class="option option_2">
          <input type="radio" name="swatch__options" id="option-2" />
          <label for="option-1">Updating an existing gym</label>
        </div>
      </div>
      <div class="gym-name">
        <label for="gym-name">Gym Name</label>
        <input type="text" required id="gym-name" />
      </div>
      <div class="details-box">
        <label for="details-area">Additional Details</label>
        <textarea
          name="details-area"
          id=""
          cols="30"
          rows="10"
          id="details-area"
          class="details-area"
        ></textarea>
        <button class="btn btn--submit">Submit</button>
      </div>
    </div>
  </form>
</div>
