<style>
  .contact-container {
    padding: 15rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
    justify-items: start;
    align-items: flex-start;
  }
  .contact__consultation {
    background-color: red;
  }
  .contact__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .full-name {
    display: flex;
    gap: 2rem;
  }
  .first-name,
  .last-name,
  .email,
  .gym-name,
  .details-box {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
  }
  .first-name input,
  .last-name input,
  .email input,
  .gym-name input,
  .details-box textarea {
    border: none;
    outline: none;
    padding-bottom: 0.5rem;
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    border-bottom: 1px solid #c4c4c4;
  }
  .first-name label,
  .details-box label,
  .last-name label,
  .email label,
  .gym-name label {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }
  .details-box textarea {
    padding: 0.5rem;
    border: 1px solid #c4c4c4 !important;
  }
  .btn--submit {
    border: none;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.175em;
    text-align: center;
    background-color: black;
    color: white;
  }
  .swatch {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
  }
  .swatch__box{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
  }
  #option_1,#option_2{
 display: none;
    
  }

  #option_2{


  }
  .option__label{
position: relative;

  }
  .option__label::before{
    position: absolute;
    content: "";
    top: 50%;
    left: -2.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid black;
    transform: translateY(-50%);
    border-radius: 50%;
  }
  .option__label::after{
    position: absolute;
    content: "";
    top: 50%;
    left: -2rem;
    width: 1rem;
    height: 1rem;
    border: 1px solid black;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  
  
</style>
<div class="contact-container">
  <div class="contact__consultation"></div>
  <form class="contact__form">
    <div class="full-name">
      <div class="first-name">
        <label for="name">First name</label>
        <input type="text" id="name" required placeholder="First name" />
      </div>
      <div class="last-name">
        <label for="last-name">First name</label>
        <input type="text" id="last-name" required placeholder="Last name" />
      </div>
    </div>
    <div class="email">
      <label for="email">Email</label>
      <input type="email" required placeholder="example@gmail.com" id="email" />
    </div>
    <div class="swatch">
      <div class="swatch__content">I'm interested in</div>
      <div class="swatch__box">
        <div class="option option_1">
          <input type="radio" name="swatch__options" id="option_1" />
          <label class="option__label" for="option_1">Outfitting a new gym</label>
        </div>
        <div class="option option_2">
          <input type="radio" name="swatch__options" id="option_2" />
          <label class="option__label" for="option_2">Updating an existing gym</label>
        </div>
      </div>
    </div>
    <div class="gym-name">
      <label for="gym-name">Gym Name</label>
      <input placeholder="Again Faster" type="text" required id="gym-name" />
    </div>
    <div class="details-box">
      <label for="details-area">Additional Details</label>
      <textarea
        name="details-area"
        id=""
        cols="30"
        rows="5"
        id="details-area"
        class="details-area"
      ></textarea>
    </div>
    <button class="btn btn--submit">Submit</button>
  </form>
</div>
