{{ 'style-header.css' | asset_url | stylesheet_tag}}


<div class="header">
    <div class="header__nav">
            <a href="#" >
                <img src="{{ section.settings.header_logo.src | img_url: '240x'}}" alt="logo" class="logo">
            </a>

            <ul class="nav__items">
                {% for link in section.settings.menu.links %}
                    <li class="nav__item">
                        <a class="nav__link" href="{{ link.url }}">{{link.title | escape }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="header__icons">
                {% render 'icon-search' %}
                {% render 'icon-account' %}
                {% render 'icon-basket' %}
            </div>
    </div>

</div>


{% schema %}
{
    "name": "Homepage Hero",
    "settings": [
        {
            "type": "link_list",
            "id": "menu",
            "label": "Menu"
        },
        {
            "type": "image_picker",
            "id": "header_logo",
            "label": "Logo"
        }
    ]
}
{% endschema %}