<!-- /templates/customers/login.liquid -->
{{ 'style.login.css' | asset_url | stylesheet_tag }}

{% form 'customer_login' %}

  {{ form.errors | default_errors }}

  <h3 class="h3 login__title">Log in</h3>
  <div class="login__container">
    <div class="login__wrapper">
      <div class="input-box">
        <label class="login__label" for="email">Email Address</label>
        <input class="login__input" type="email" value="" name="customer[email]"/>
      </div>
    </div>

    <div class="login__wrapper">
      <div class="input-box">
        <label class="login__label" for="password">Password</label>
        <input class="login__input" type="password" value="" name="customer[password]"/>
      </div>
    </div>

    <p class="login__forgot">Forgot password?</p>

    <button class="login__btn" type="submit">Log in</button>

    <p class="login__alreadyHaveAnAccount">Don’t have an account yet?</p>

    <button class="login__btn--secondary" type="button">Create an account</button>

  </div>
{% endform %}
