{{ "style.reset__password.css" | asset_url | stylesheet_tag }}

{% form 'reset_customer_password' %}

{{ form.errors | default_errors }}

<div class="recover__container">
  <h3 class="h3 reset__password--title">Reset Password</h3>

  <div class="reset__password--wrapper">
    <div class="reset__password--box">
      <label for="customer_email">New Password</label>
      <input
        class="reset__password--input"
        type="password"
        name="customer[password]"
      />
    </div>
  </div>
  <div class="reset__password--wrapper">
    <div class="reset__password--box">
      <label for="customer_email">Confirm Password</label>
      <input
        class="reset__password--input"
        type="password"
        name="customer[password_confirmation]"
      />
    </div>
  </div>

  <input class="reset__password--btn" type="submit" value="Reset Password" />
</div>
{% endform %} =======
{{ "style.reset__password.css" | asset_url | stylesheet_tag }}

{% form 'reset_customer_password' %}

{{ form.errors | default_errors }}

<div class="recover__container">
  <h3 class="h3 reset__password--title">Reset Password</h3>

  <div class="reset__password--wrapper">
    <div class="reset__password--box">
      <label for="customer_email">New Password</label>
      <input
        class="reset__password--input"
        type="password"
        name="customer[password]"
      />
    </div>
  </div>
  <div class="reset__password--wrapper">
    <div class="reset__password--box">
      <label for="customer_email">Confirm Password</label>
      <input
        class="reset__password--input"
        type="password"
        name="customer[password_confirmation]"
      />
    </div>
  </div>

  <input class="reset__password--btn" type="submit" value="Reset Password" />
</div>
{% endform %} >>>>>>> 0a80f84e1f447c898ed29feb653aa102263e9f60 >>>>>>>
2ceb82af5886dfbebf07c551af34adcaeb053b8c
