{{ 'style-secondary-button.css' | asset_url | stylesheet_tag }}


<div class="secondary-button">
    <div class="secondary-button__text">{{section.settings.secondary_btn | default: 'Expolore'}}</div>
    {% render 'icon-arrow' %}
</div>

{% schema %}
{
    "name": "Secondary Button",
    "settings": [
        {
            "id": "secondary_btn",
            "type": "text",
            "label": "Secondary Button"
        }
    ]
}
{% endschema %}