.collection-master {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    padding: 0 40px;
    
    
}

.collection-hero {
    width: 100%;
    height: 100%;
    height: calc(100vh - 40px);
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 20px 0px 0px 0px;
}

.rich-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
}

.eyebrow {
    
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 62px;
    letter-spacing: 0.175em;
    text-transform: uppercase;
    color: #000000;
    margin: 16px 0px 40px 0px;
    max-width: 510px;
}


.rich-text__btn {
    width: 253px;
    height: 58px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 24px;
    transition: transform .3s ease;
}

.rich-text__btn:active {
    transform: scale(0.98);
    cursor: pointer;
}

.rich-text__btn-text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.175em;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}

.master-images {
    height: 100%;
    width: fit-content;
    position: relative;
}

.big-image__container {
    width: 74%;
    height: 740px;
    width: 570px;
    height: 790px;
    margin-right: 200px;
}

.banner_img {
    width: 100%;
    height: 100%;
}

.small-image__container {
    width: 35%;
    height: 400px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 360px;
}


@media (max-width: 1440px) {
    .big-image__container {
        width: 74%;
        height: 740px;
        width: 460px;
        height: 690px;
        margin-right: 110px;
    }

    .small-image__container {
        width: 35%;
        height: 400px;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 170px;
        height: 260px;
    }
}


.product-collections {
    width: 100%;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 18px;
    grid-row-gap: 40px;
    margin-bottom: 80px;
}

.product-collection {
    
}

.product__image__wrappper {
    width: 100%;
    height: 334px;
    background-color: red;
}

.product__title {
    margin-top: 8px;
    text-align: center;
}