.gym__container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.gym__wrapper {
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 43px;
    padding: 0 79px;
    margin-top: 120px;
    margin-bottom: 120px;
}

.gym__img--wrapper {
    width: 620px;
    height: 780px;
}

.gym__title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #000000;
    margin: 24px 0px;
}

.gym__link {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.175em;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 8px;
    border-bottom: 1px solid black;
    text-decoration: none;
}