
.rich-text {
    max-width: 1920px;
    width: 100%;
    height: calc(100vh - 40px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin: auto;
    margin-top: -58px;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 40px;
    padding-bottom: 40px;
}

.rich-text__title {
    max-width: 601px;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 130%;
    letter-spacing: 0.24em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.rich-text__description {
    max-width: 601px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 167.5%;
    color: #FFFFFF;
    margin: 24px 0px 40px 0px;
}


.secondary-button {
    width: 253px;
    height: 58px;
    border: 1px solid #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 24px;
    transition: transform .3s ease;
}

.secondary-button:active {
    transform: scale(0.98);
    cursor: pointer;
}

.secondary-button__text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.175em;
    text-transform: uppercase;
    color: #FFFFFF;
}