
.header {
    max-width: 1920px;
    width: 100%;
    padding: 10px 40px 20px 40px;
    margin: auto;
    position: relative;
    top: 0px;
    z-index: 10;
    top: 0px;
    left: 0;
    z-index: 10;
    /* background-color: black; */
}

.header__nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-column-gap: 10px;
    align-items: center;
}

.logo {

}

.logo:hover {
    cursor: pointer;
}

.nav__items {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
}

.nav__item {
    list-style-type: none;
}

.home .nav__link {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: capitalize;
}

.nav__link {
    color: #000000;
    text-decoration: none;
    text-transform: capitalize;
}

.nav__link:hover {
    cursor: pointer;
}

.header__icons {
    display: flex;
    align-items:center;
    gap: 20px;
    justify-content: flex-end;
}

.home .header__icons svg path {
    stroke: white;
}

.header__icons svg path {
    stroke: black;
}

.header__icons:hover {
    cursor: pointer;
}

.basket__counter--wrapper {
    position: relative;
    display: flex;
    align-items:flex-end;
}

.basket__counter {
    display: flex;
    justify-content: center;
    align-items:center;
}

.basket__counter-style {
    position: absolute;
    top: -5px;
    right: -9px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: black;
    color: #ffffff;
    font-size: 9px;
}

.humburger-menu {
    display: none;
}

.humburger__container {
    display: none;
}

/* Media */

@media (max-width: 1250px) {
    .header {
        padding: 0px 24px 0px 24px;
        width: 100%;
    }
    .header__nav {
        display: flex;
        align-items:center;
        justify-content: space-between;
        padding: 18px 0px;
        width: 100%;
    }
    .humburger-menu {
        display: block;
    }
    .nav__items {
        display: none;
    }

    .humburger__container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        /* display: none; */
    }
    .humburger__wrapper {
        position: relative;
        background: #E5E5E5;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .close-humburger-menu {
        position: absolute;
        top: 30px;
        right: 30px;
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .close-humburger-menu:active {
        transform: scale(0.97);
    }
    .close-humburger-menu svg {
        width:14px;
        height: 14px;
    }
    .humburger__items--wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .humburger__items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        gap: 10px;
    }
    .humburger__items .nav__link {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        letter-spacing: 0.175em;
        text-transform: uppercase;
        color: var(--primary-black);
    }
    .humburger__footer {
        display: flex;
        justify-content: center;
        align-items:center;
        width: 100%;
        height: 50px;
        background: #F1F1F1;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 167.5%;
        color: var(--primary-black);
        gap: 10px;
        text-decoration: none;
    }
}


@media (max-width: 500px) {
    .header {
        padding: 0px 16px 0px 16px;
        width: 100%;
    }
    .header__nav {
        padding: 17px 0px;
    }
    .header__icons > svg {
        display: none;
    }
    .header__icons a svg {
        display: none;
    }
    
}