
.header {
    max-width: 1920px;
    width: 100%;
    padding: 10px 40px 20px 40px;
    margin: auto;
    position: relative;
    top: 0px;
    z-index: 10;
    position: sticky;
    top: 0px;
    left: 0;
    z-index: 10;
    background-color: black;
}

.header__nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 10px;
    align-items: center;
    
}

.logo {

}

.logo:hover {
    cursor: pointer;
}

.nav__items {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
}

.nav__item {
    list-style-type: none;
}

.nav__link {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: capitalize;
}

.nav__link:hover {
    cursor: pointer;
}

.header__icons {
    display: flex;
    align-items:center;
    gap: 20px;
    justify-content: flex-end;
}

.header__icons:hover {
    cursor: pointer;
}

.rich-text {

}

.rich-text__title {
    max-width: 601px;
    color: #FFFFFF;
}

.rich-text__description {
    max-width: 601px;
    color: #FFFFFF;
    margin: 24px 0px 40px 0px;
}

